$primary: #ed666f;
$danger: #ff4136;
$link-hover-color: $primary;

@import "bootstrap/scss/bootstrap.scss";

@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}
