$primary: #ffb77c;
$danger: #ff4136;

@import "bootstrap/scss/bootstrap.scss";

@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}
