.footer {
    background-color: #ed666f;
    padding: 20px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
}

.footer p {
    color: #fff;
    margin-bottom: 0;
}
