$section-color: #ffffff;

.sectionLg {
    background-color: $section-color;
    padding: 20px;
    min-height: 80vh;
}

.sectionMd {
    background-color: $section-color;
    padding: 20px;
    min-height: 50vh;
}

.sectionSm {
    background-color: $section-color;
    padding: 20px;
    min-height: 30vh;
}