.button {
    /* background-color: #4CAF50; */
    border: none;
    border-radius: 50rem;
    color: #424242;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}

.toggler {
    border: none;
}


.topnav {
    position: fixed !important;
    width: 100% !important;
    height: auto !important;
    z-index: 100 !important;
    background-color: #ffffff;
}

.button {
    position: relative;
    color: #000;
    text-decoration: none;
}

.button:hover {
    color: #000;
}

.button::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.button:hover::before {
    transform: scaleX(1);
}
