@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('http://fonts.cdnfonts.com/css/sifonn');

/* Remove links having underline */
.me-auto a {
    text-decoration: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset some para styles causing weird margin errors */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
span, nav,
pre {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
  background-color: #424242;
  overflow-x: hidden;
}