@import url('https://fonts.cdnfonts.com/css/sifonn');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

/* Remove links having underline */
.me-auto a {
    text-decoration: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset some para styles causing weird margin errors */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
span, nav,
pre {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Libre Baskerville', serif;
}

html {
  background-color: #424242;
  /* overflow-x: hidden; */
}

.herotext {
  font-family: "Sifonn", sans-serif;
}

.row {
  justify-content: space-around;
}